<!--<ul class="employees">
    <li *ngFor="let employee of employees">
      <span class="badge">{{employee.id}}</span> {{employee.firstName}}
    </li>
  </ul>-->
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees" (click)="onSelect(employee)">
            <th scope="row">{{employee.id}}</th>
            <a routerLink="/contactDetails/{{employee.id}}">
              <td>{{employee.firstName}}</td>
            </a>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
          </tr>
    </tbody>
  </table>
<div *ngIf="selectedEmp">
<h2>{{selectedEmp.firstName | uppercase}} Details</h2>
<div><span>id: </span>{{selectedEmp.id}}</div>
<div>
  <label>name:
    <input [(ngModel)]="selectedEmp.firstName" placeholder="name"/>
  </label>
</div>
</div>